
body{
  background-image: linear-gradient(to right, #0062E6, #33AEFF);
}

.card{
  background-color: whitesmoke;
  height: 520px;
  width: 280px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.card:hover{
  margin-top: -.50rem;
  margin-bottom:.50rem;
  box-shadow: 0 0.8rem 2rem 0 rgba(0, 0, 0, 0.3);
}

.price_method{
  text-align: center;
  padding-top: 10px;
  opacity: 0.5;
}
.price{
  text-align: center;
}
.font{
  font-size: small;
}

label{
  display: block;
  margin-top: 20px;
  font-size: medium;
}

button{
  align-items: center;
  height: 40px;
  width: 230px;
  margin-left: 25px;
  margin-top: 10px;
  background-color: dodgerblue;
  color: white;
  opacity: 0.7;
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  border: none;
}

button:hover{
  opacity: 2;
}

hr{
  margin-left: 15px;
  margin-right: 15px;
}

.font_style{
  font-weight: bold;
}
.font_opa , .font_opa1{
  opacity:0.5;
}

/* .price_card{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content:space-between;

} */
.App{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap:wrap;
  margin-top: 100px;
}